<ion-header>

  <ion-navbar>
    <ion-title>Adicionar Filme</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>


    <ion-searchbar placeholder="Buscar" (ionInput)="onInput($event)" debounce="1000">
    </ion-searchbar>

    <ion-item *ngFor="let livro of livros | initial">
      <ion-thumbnail item-start>
        <img *ngIf="!!livro.volumeInfo.imageLinks" [src]="livro.volumeInfo.imageLinks.smallThumbnail">
      </ion-thumbnail>
      <h2>{{ livro.volumeInfo.title }}</h2>
      
      <p *ngIf="!!livro.volumeInfo.authors">{{ livro.volumeInfo.authors[0] }} • {{ livro.volumeInfo.publishedDate }}
      </p>
      <button ion-button clear item-end><ion-icon name="add-circle"></ion-icon></button>
    </ion-item>
  </ion-list>
</ion-content>